body {
    background-image: url(https://i.pinimg.com/originals/cc/e4/46/cce44692619a61f842c4d1f653eb9620.jpg);
}

h2 {
    text-align: center;
    color: whitesmoke;
    border: 5px solid wheat;
}

p {
    color: antiquewhite;
}