body {
    background-image: url(black-couple.jpg);
    background-size: cover;
}

h2 {
    text-align: center;
    color: #FFECEC;
    border: 5px solid rgba(175,135,135,0.5);
    cursor: pointer; 
}

p {
    color: antiquewhite;
}

li {
    list-style: none;
    display: inline-block;
    color: antiquewhite;
}